/* ===================== bunny font ========== */
@import url('https://fonts.bunny.net/css?familly=lato:400,700|spartan:400,500,600,700');
/* ================== Variables ============= */

:root {
  --header-height: 4rem;
  /***** Colors **************/
  --primary-color: hsl(254, 61%, 50%);
  --primary-color-alt: hsl(207, 44%, 94%);
  --primary-rgb: 32, 13, 125;
  --secondary-color: #b2a0e9;
  --title-color: hsl(0, 0%, 13%);
  --text-color: hsl(154, 13%, 32%);
  --text-color-light: hsl(60, 1%, 56%);
  --body-color: hsl(0, 0%, 100%);
  --contrainer-color: hsl(0, 0%, 93%);
  --border-color: hsl(207, 36%, 85%);
  --border-color-alt: hsl(201, 15%, 90%);
  --light-color: #eef1f2;
  /*========= Font and typography =====*/
  --body-font: 'lato', sans-serif;
  --second-font: 'Spartan', sans-serif;
  --big-font-size: 3.5rem;
  --h1-font-size: 2.75rem;
  --h2-font-size: 2rem;
  --h3-font-size: 1.75rem;
  --h4-font-size: 1.375rem;
  --large-font-size: 1.125rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 0.75rem;
  --tiny-font-size: 0.6875rem;
  /* ======== Font weight ============*/
  --weight-400: 400;
  --weight-500: 500;
  --weight-600: 600;
  --weight-700: 700;
  /*======== transitions ======*/
  --transition: cubic-bezier(0, 0, 0.05, 1);
}
/* ============= base ========= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::selection {
  background-color: var(--primary-color);
  color: var(--body-color);
}
input,
textarea,
body {
  color: var(--text-color);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: var(--weight-400);
}

body {
  background-color: var(--body-color);
}
h1,
h2,
h3,
h4 {
  font-family: var(--second-font);
  color: var(--title-color);
  font-weight: var(--weight-600);
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
p {
  line-height: 1.5rem;
}
img {
  max-width: 100%;
}
button,
textarea,
input {
  background-color: transparent;
  border: none;
  outline: none;
}
table {
  width: 100%;
  border-collapse: collapse;
}
/* ========== reusable css classes =====*/
.container {
  margin-inline: auto;
  padding-inline: 0.75rem;
}
.grid {
  display: grid;
  gap: 1.5rem;
}
.flex {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}
.section {
  padding-block: 2rem;
}
.section--lg {
  padding-block: 2rem;
}
.section__title {
  font-size: var(--h4-font-size);
  margin-bottom: 1.5rem;
}
.section__title span {
  color: var(--primary-color);
}
.form__input {
  border: 1px solid var(--border-color-alt);
  padding-inline: 1rem;
  height: 45px;
  border-radius: 0.25rem;
  font-size: var(--small-font-size);
}
.new__price {
  color: var(--primary-color);
  font-weight: var(--weight-600);
}
.old__price {
  color: var(--text-color-light);
  font-size: var(--small-font-size);
  text-decoration: line-through;
}
.form {
  row-gap: 1rem;
}
.form__group {
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.textarea {
  height: 200px;
  padding-block: 1rem;
  resize: none;
}
/* ============= BUTTONS ================== */
.btn {
  display: inline-block;
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
  color: var(--body-color);
  padding-inline: 1.75rem;
  height: 45px;
  line-height: 45px;
  border-radius: 0.25rem;
  font-family: var(--second-font);
  font-size: var(--small-font-size);
  font-weight: var(--weight-700);
  transition: all 0.4s var(--transition);
  cursor: pointer;
}
.btn:hover {
  background-color: transparent;
  color: var(--primary-color);
}
.btn-md,
.btn-sm {
  font-family: var(--body-font);
}
.btn-md {
  height: 42px;
  line-height: 39px;
}
.btn-sm {
  height: 38px;
  line-height: 35px;
}

/* Responsive typography */
@media screen and (max-width:1200px) {
   :root {
      --big-font-size: 2.25rem;
      --h1-font-size: 2rem;
      --h2-font-size: 1.375rem;
      --h3-font-size: 1.25rem;
      --h4-font-size: 1.125rem;
      --large-font-size: 1rem ;
      --normal-font-size: 0.9375rem;
      --small-font-size: 0.8125rem;
      --smaller-font-size: 0.6875rem;
      --tiny-font-size: 0.625rem ;
   }
}
